<!DOCTYPE html>
<html lang="pl"
      th:lang="${#request.getParameter('lang') ne null? #request.getParameter('lang') : 'en'}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Bezpieczna strona</h1>
    <img src="src/main/resources/static/img/security.jpg" th:src="@{/img/security.jpg}" alt="Bezpieczna strona"/></br>
    <a href="#" th:href="@{/secured}">Zabezpieczona strona</a>
    <a href="#" th:href="@{/admin}">Panel admina</a>
</div>
</body>
</html>